.app-title {
    text-align: center;
   }
   
   .button-container {
     display: flex;
   }
   
   .customButton {
     align-items: flex-end;
     align-self: flex-end;
     align-content: flex-end;
   }